[2012-10-11 09:07] sunglim opened #1 "Needs default icons"
We need icon,

128_128
16_16
32_32
48_48

Those icon should represent the serial communication.

[2012-10-11 19:10] sunglim opened #2 "Support to select port name"
Support to select port name

포트이름을 선택하는 다이어리가 필요함

[2012-10-15 01:28] #2 closed, assigned to sunglim

[2012-12-05 04:07] sunglim opened #3 "require to close port when close Beagleterm"
Dear,

when close Beagleterm,   Beagleterm doesn't seems to close serial port.

비글텀 종료할때 포트를 안닫아줘서 새로 실행할때 포트오픈이 안되는것같습니다..

25버전에서 발생되네요..  일단 새로빌드한 바이너리를 집에가서 공유해드릴께요..  지금은 회사라 안되고..

[2012-12-05 04:17] #1 closed, assigned to nobody

[2013-02-06 10:02] #3 closed, assigned to nobody

[2013-02-12 18:25] JordanKH opened #4 "Display Issues"
Hi there,
I am using Beagle Term on a Chromebook with a USB-2-Serial adapter. Beagle Term sees the adapter and is able to connect to my serial devices but I receive poor output on my display. There is an extra space and indentation to where the previous line finished which makes text hard to read. It's like there are too many line feed's and no carriage return. I have tried a Cisco router and a De

[2013-02-12 18:37] JordanKH opened #5 "Chromebook Compatibility"
Hi there,
Beagle Term will install on a Samsung ARM based Chromebook with the noted display issues.

Beagle Term will not install on the Samsung Series 5 Atom based Chromebook with an error of "This application is not supported on this computer. Installation has been disabled."
Jordan

[2013-02-12 23:21] #5 closed, assigned to nobody

[2013-03-04 02:20] ZiglioUK opened #6 ""minimum_chrome_version": "25""
Version 25 works on Windows too -)

[2013-03-10 23:37] sunglim opened #8 "save previous bitrate"
save previous bitrate

Originally hterm save the users's preference on Chrome.sync.

for users's convinience, we should implement this function.

There could be two way.
1. Implement Hterm's dialog
2. implement our own dialog including save & load users's preference.

[2013-03-28 08:53] #6 closed, assigned to nobody

[2013-03-28 08:59] #8 closed, assigned to nobody

[2013-04-01 08:46] sunglim opened #9 "show error message when selected serial port is being used"
show error message when selected serial port is being used
선택한 시리얼포트가 이미 다른프로그램에 의해 열려있을경우 에러메시지 출력

[2013-04-08 00:29] sunglim opened #10 "Get focus 'connect' button when Beagle term starts."
Get focus to 'connect' button when Beagle term starts.

to use without mouse control.

[2013-04-10 00:56] sunglim opened #11 "set default bitrate 115200 by default"
normally, 115200 is used by default

[2013-04-10 01:46] #11 closed, assigned to nobody

[2013-04-11 07:44] sunglim opened #12 "Clean up"
As Robert said, there are no circular dependencies between hterm, nassh and libdot.
So we need to clean up unnecessary old files, and update to latest libraries.

https://groups.google.com/a/chromium.org/forum/?fromgroups=#!searchin/chromium-hterm/libdot/chromium-hterm/PyDa50rrDC8/sEpv_gS9ipQJ

[2013-05-24 13:16] sunglim opened #13 "Modify window.app.create function to use 'bound' property"
About 5 month ago,
'bound' property is added, and it seems that chrome team want ppl to use bound property

https://chromiumcodereview.appspot.com/11358003

[2013-06-02 12:20] #13 closed, assigned to nobody

[2013-06-12 08:50] OscarHillerstrom opened #14 "Tested with a Chromebook"
Tested it with a Samsung Chromebook (ARM) and a Aten USB-Seriel adapter (UC-232A) and managed to connect to a HP switch. It didn't work perfectly and only connected at 9600 baud, no matter what I set in the app. Some lines where out of order and a bit garbled.

I don't know if it is due to the app or hardware combo...

/O

[2013-06-26 19:10] bdhook opened #15 "List of supported USB->Serial adapters for Chromebooks?"
I've been looking for a list of supported adapters. I have a USB to serial adapter I've been using for years. It seems that it isn't supported because Beagle-Term says it can't find a serial device. I'll buy a new one if I need to, but I want to make sure I get one that will work. I'd really like to be able to use a USB to Serial adapter on a stock Chromebook without having to put it in developer

[2013-07-15 06:12] HikinenM opened #16 "Leading between text"
Hi,

First of all, thank you for this great app. It has been useful to me and to some of my colleagues.

I'm using the Chrome OS version of the app on a Samsung Chromebook and it works well except for one minor bug. For some reason the application leaves a big empty space between lines. Below is a picture with an example.

I saw this bug mentioned in the issue thread called Display Issues by Shann

[2013-07-15 14:33] ShannonVanWagner opened #17 "Feature Request: Output screen to a local text file. Please upvote if you like."
Thanks for this great beagle-term app, and also for making it open source!

I would like to make a feature request to have the application output to a local plain-text file on the chromebook.

This would help because then I could go back and search through parts of the terminal output for troubleshooting.

For those others who use this great application, please indicate in the comments if you'd li

[2014-01-24 23:40] osabrava opened #18 "beagle term gives blank screen on connect to hp chromebook"
awesome app
but currently beagleterm doesn't launch correctly (connect window is absent)
using keyspan and hp chromebook running latest version of chrome

[2014-02-13 04:25] sunglim opened #19 "remove beagleterm-chromebook brach."
we can make diffrence by UserAgent.
no need to make seperate special version.

[2014-02-13 04:28] sunglim opened #20 "Need a context menu"
To provide additional function, we need a menu.
But probably modifying top UI is risky.  for instance, new tool bar menu could break the whole layout.

providing a menu with a context menu might be the best choice.

See Chrome.Context API. and Spark project's context menu.

[2014-02-13 04:38] sunglim opened #21 "Massive refactoring. to use Polymer & Dart."
Dart & Polymer is really fancy. and it's pretty worth to use them.

Thanks to @ussuri. I have a little knowledge about it.

[2014-02-13 13:16] sunglim opened #22 "Doesn't work from m33"
![image](https://f.cloud.github.com/assets/756988/2159966/0a0f0ea8-94b1-11e3-821e-3d7f7543b550.png)

[2014-02-13 23:16] #15 closed, assigned to nobody

[2014-02-14 01:37] sunglim opened #24 "Release version 1.3"
asap
1.3 version fixes the new serial api issue.

[2014-02-14 01:39] #18 closed, assigned to sunglim

[2014-02-14 01:39] #22 closed, assigned to nobody

[2014-02-14 15:41] #24 closed, assigned to sunglim

[2014-02-16 20:07] #4 closed, assigned to nobody

[2014-02-16 20:10] sunglim opened #26 "Please Report issues!"
Yesterday I removed BeagleTerm for Chrome OS version.
You are still able to use BeagleTerm general version.
If you meet any issues, please report it!

[2014-02-16 20:10] #12 closed, assigned to nobody

[2014-02-16 20:13] #20 closed, assigned to nobody

[2014-02-16 20:13] #9 closed, assigned to nobody

[2014-02-16 20:13] #10 closed, assigned to nobody

[2014-02-16 20:14] #14 closed, assigned to nobody

[2014-02-18 01:52] sunglim opened #27 "Share beagle term screen with ChromeCast"
if possible.

[2014-02-21 02:30] sunglim opened #28 "Second connection doesn't work"
- Cannot close serial port.

Environment. Chrome stable M33. Windows
1. Open beagle and connect to serial
2. close beagle
3. open beagle again and connect to same port

but after spending few minutes, Maybe Chrome close port automatically.

[2014-03-09 08:27] #28 closed, assigned to sunglim

[2014-03-20 15:05] #19 closed, assigned to nobody

[2014-06-22 00:55] sir-buckyball opened #32 "Copying text on ChromeOS doesn't work"
I have an HP Chromebook 11 running 36.0.1985.49 (Official Build 274672) beta.

I successfully connected to a serial device (arduino nano) and selected the text for copying. An overlay indicated that the text had been copied to the system clipboard, but I was unable to paste the text into the Text application (https://chrome.google.com/webstore/detail/text/mmfbcljfglbokpmkimbfghdkjmjhdgbg).

[2014-09-26 11:45] jsquyres opened #33 "Removing USB dongle causes full Chrome restart"
I don't know if this is a BeagleTerm or ChromeOS issue, but I found that if I have a BeagleTerm window open / connected to my USB-to-serial dongle, and if I physically remove the USB dongle, the entire Chrome browser (on my Chromebook) will reset, and I'll get the "Chrome didn't shut down properly; click here to restore all tabs" button.

I have ChromeOS 37.0.2062.120 (64 bit) on and HP Chromebook

[2014-09-26 15:08] jsquyres opened #34 "Unable to get BeagleTerm to work with PL2303"
I have a PL2303 USB-to-serial dongle that works fine with my MacBook pro (i.e., I can "screen /dev/tty.PL2303-*" in OS X and connect to whatever the USB-to-serial dongle is connected to).

However, when I plug the USB into my Chromebook and fire up BeagleTerm, BT identifies /dev/ttyUSB0 as a valid device, asks for the baud rate (I choose the highest -- 115200, although I've tried all the baud spee

[2014-10-06 01:18] agoode opened #35 "cursor in wrong place"
It looks like the same bug as
https://code.google.com/p/chromium/issues/detail?id=386414

[2014-10-19 23:46] #27 closed, assigned to nobody

[2014-10-19 23:51] sunglim opened #36 "doesn't re-connected after the device reboot."
device turn on -> beagle term connect -> device turn off -> device turn on.

doesn't re-connected after the device reboot.
chromium issue though.

[2014-10-20 01:45] sunglim opened #37 "Should BeagleTerm become a paid app?"
Please vote this poll,
https://plus.google.com/112990119750252895642/posts/VeixDNEiqLE

[2014-10-20 16:34] #35 closed, assigned to sunglim

[2014-10-20 16:34] #32 closed, assigned to nobody

[2014-10-20 16:35] #16 closed, assigned to nobody

[2014-10-20 16:35] #26 closed, assigned to sunglim

[2014-12-15 06:14] MortalCatalyst opened #39 "port option when starting uneditable"
Hi

Started Beagle on Windows 7 latest chrome and when it opened it asked for port and bitrate. I was unable to supply a port to connect and so accepting left me with a non working terminal.

[2014-12-17 04:14] #39 closed, assigned to nobody

[2015-01-28 19:30] richardhkirkando opened #40 "Paste into beagle-term?"
Is it possible to paste into beagle-term?  If so, how?  Ctrl+v, middle click, right click, etc do not work for me.

If not, consider this a feature request :)

[2015-05-12 19:53] chisam14 opened #41 "Can not send commands"
I am using an HP Chromebook with a Belkin usb-serial adapter. Problem is that I can't get any kind of screen output from my equipment. Beagle term sees the usb port and I select the proper rate, it connects but will not take any keys. I can reboot the equipment and I start getting text across the screen then when the equip is fully up I can then issue commands. I do not want to have to reboot equi

[2015-05-13 01:34] sunglim commented on #41
it is chromium serial api bug . afaik.

[2015-05-13 17:47] chisam14 commented on #41
Are you aware of a workaround or a fix in the near future? I bought the chromebook for work use but it is useless without a reliable serial terminal. Thanks

[2015-05-18 16:02] pr1ntf commented on #40
It looks like standard crosh rules apply. Use Ctrl+Shift+V to paste, Ctrl+Shift+C to copy.

[2015-05-21 13:12] sunglim commented on #40
Im not sure standard crosh rules are working

Because Beagle term uses fairly old Hterm version

If its not working please let me know

2015년 5월 19일 화요일, pr1ntf<notifications@github.com>님이 작성한 메시지:

[2015-06-08 16:28] richardhkirkando commented on #40
yes, ctrl-shift-c/v work.

[2015-06-08 16:28] #40 closed

[2015-06-10 21:31] richardhkirkando opened #42 "Tab key no longer working"
Just noticed that tab auto completion when consoled into various network gear seems to have stopped working on my chromebook.  I remember there being a recent Chrome OS update - I can't be certain that this stopped working at the same time, but it seems likely-ish.  Let me know if there are any specific details I can provide.

[2015-06-11 04:31] sunglim commented on #42
Thank you for reporting this. it seems like it's time to update hterm.
I'll add this to my todo list.

[2015-06-19 01:51] sunglim commented on #42
Thanks to @korylprince , hterm is updated. I'll release new version on this weekend.

[2015-06-20 03:25] sunglim commented on #42
Fixed in version 1.6

[2015-06-20 03:25] #42 closed

[2015-06-20 03:27] sunglim commented on #41
It looks like chromeos driver issue.
you can file an issue on crbug.com/new

[2015-06-20 03:27] #41 closed

[2015-07-30 12:01] baileyds opened #44 "Parity and flow control"
I'd love the ability to modify these settings..had to turn them to off for a connection last night and had to abandon my Chromebook to get it working. Great product!

[2015-08-28 15:17] richardhkirkando opened #45 "Break sequence?"
Is it possible to issue a break sequence from beagle term?  Obviously, no break key on most chromebooks.

[2015-08-29 09:12] sunglim commented on #45
For now, "No".

And it's impossible now, because `chrome.serial.setBreak` is committed on m45 (latest chrome stable is m44)

[2015-12-06 14:44] sunglim opened #46 "Provide 'Logging'"
We sometimes need to save to a log file.

Probably we need a UI work as well.

[2015-12-06 14:45] sunglim commented on #46
Ah duplicated https://github.com/beagleterm/beagle-term/issues/17

[2015-12-06 14:45] #46 closed

[2016-08-25 17:48] BleuLlama opened #47 "Font selection"
Can there be some way to select a default font/the font to use?

[2016-08-30 00:17] RandomlyKnighted commented on #45
The latest version of Chrome is now version 52 so [this is now possible](https://developer.chrome.com/apps/serial#method-setBreak).

[2016-08-30 00:46] RandomlyKnighted commented on #44
I just recently came across this project and got really excited when I realized this would allow me to communicate with various devices via a Chromebook. I'm going to check out the project more and see if I can add more features to it. I'm going to try and get this feature done first. So far I've looked over Google's documentation and here's some settings that we could add. All have been available

[2016-08-30 06:33] sunglim commented on #44
Hi @RandomlyKnighted,
Thank you for your interest.

As you told, We can connect with explicitly setting more values as described in [chrome.serial API](https://developer.chrome.com/apps/serial)

But I'm not sure if people really want this feature. When I was in embedded device company, I rarely modified 'Data bits', 'Parity Bits', 'Stop Bit' and 'Flow Control'.

---

To config connection property,

[2016-08-30 11:59] RandomlyKnighted commented on #44
You're right it's rare that you need to change any of these values. However, I have had to do it with connecting to a switch. At the time I was using Putty, and I had no problem changing the setting. However, now I'm trying to see if I can switch to a Chromebook and configure switches from that. That's why I decided to start with this issue.

[2016-09-01 07:07] sunglim commented on #45
@RandomlyKnighted  that's true. I implemented [that feature](https://bugs.chromium.org/p/chromium/issues/detail?id=461169) on chrome side :)

Now we can implement this issue.  PR is always welcome.

[2016-09-02 11:58] RandomlyKnighted opened #48 "Question: What is the Connection ID used for?"
I've noticed that each time a new connection is made the connection Id is incremented by one. What's the purpose of keeping up with this?

[2016-09-03 17:30] RandomlyKnighted opened #49 "Question: Why Polymer?"
I created my own terminal app and have been able to [replicate the Beagle Term design](https://github.com/RandomlyKnighted/OpenTerm) using nothing more than Bootstrap and jQuery.  This project was nothing more than a test to see if the design could be replicated without Polymer. I've never used Polymer before so I've been reading up on it and I'm not sure I understand why it was chosen. Could you

[2016-09-04 11:50] sunglim commented on #49
Hi @RandomlyKnighted ,

[Your project](https://github.com/RandomlyKnighted/OpenTerm) is awesome!

When I filed the issue(https://github.com/beagleterm/beagle-term/issues/21), I was thinking Polymer is good a method to implement Huge UI application and maintain easily.

But now I'm thinking BeagleTerm doesn't need heavy UI framework. Your design is pretty awesome.
PR is always welcome.

Thank you f

[2016-09-04 11:50] #49 closed

[2016-09-04 11:50] #21 closed

[2016-09-04 11:51] sunglim commented on #47
It's possible. I'll write a document when I find a time

[2016-09-04 12:02] sunglim commented on #48
Hi again,

BeagleTerm uses Connection ID when calling [chrome.serial.disconnect](https://developer.chrome.com/apps/serial#method-disconnect).

As you might know know, BeagleTerm doesn't generate Connection ID. When BeagleTerm calls chrome.serial api from [code](https://github.com/beagleterm/beagle-term/blob/e0638b66ec52b1128a9f60a7784e86b6e0f232d1/app/main.js#L96), chrome serial connect api return

[2016-09-04 12:02] #48 closed

[2016-09-04 21:35] RandomlyKnighted opened #50 "Question: What is the project license?"
In the package.json you have project's license listed as BSD and then in the bower.json file you have the project's license listed as MIT. Which one is the correct license?

**Note:** If the correct license is BSD then can you be more specific as to which BSD license it is? I've included below the list of approved BSD licenses that are accepted by both NPM and Bower:

| Full Name of License | Lice

[2016-09-04 23:29] RandomlyKnighted opened #51 "Switch from Polymer to Bootstrap"
As discussed in #49, it was agreed that Polymer is a bit too large of a framework to use with BeagleTerm. With that in mind it would be good to replace Polymer with something simpler like Bootstrap.

I have already begun work on this and hope to have a PR this weekend. I've already started working on this but still need to test what I've done so far. What has to be done in order to to publish a ne

[2016-09-05 00:50] sunglim commented on #51
You should list you name on the <project repo>/AUTHOR  file.
And PR is enough,  if theres more things then we can discuss while code
review

2016. 9. 5. 오전 8:29에 "Tyler Hughes" <notifications@github.com>님이 작성:

[2016-09-05 06:52] sunglim commented on #50
I'll check. Thank you for asking !

[2016-09-05 06:53] sunglim commented on #36
probably fixed from chromium side after implementing Mojo interface.

[2016-09-05 06:53] #36 closed

[2016-09-05 16:25] RandomlyKnighted commented on #36
I'll test it out and verify just to be sure.

[2016-09-06 00:57] sunglim commented on #36
Thanks @RandomlyKnighted !

[2016-09-06 22:05] RandomlyKnighted opened #52 "Misspelled serial in project description"
As shown in the image below the word "serial" is incorrectly spelled as "seiral".

![beagle_term_spelling](https://cloud.githubusercontent.com/assets/2483249/18292687/2208834c-7454-11e6-8225-66ec09f34721.PNG)

[2016-09-06 23:20] RandomlyKnighted commented on #52
This isn't a big issue at all it's just something I noticed earlier.

[2016-09-07 06:16] sunglim commented on #52
Thanks :) fixed.

[2016-09-07 06:16] #52 closed

[2016-09-09 00:27] RandomlyKnighted commented on #36
@sunglim I just confirmed that this is in fact fixed. I connected to my Cisco 1811 router, turned off the router, then turned it back on all while leaving the BeagleTerm window open and it immediately showed output on the screen.

[2016-09-09 00:33] RandomlyKnighted commented on #33
This has been fixed by Chrome. I booted up my Cisco 1811 Router and so that I could see that there was a connection between BeagleTerm and another device. I then removed my USB to Serial adapter and the app remained open.

There is; however, one downside to this good news. When the dongle is removed there is currently no notification to the user that the USB adapter has been removed. The app does

[2016-09-09 00:35] RandomlyKnighted commented on #37
It looks like users are wanting to keep this project free and open source.

[2016-09-09 02:51] sunglim commented on #36
@RandomlyKnighted  thank you for the confirm.
It sounds interesting that BeagleTerm is used with router. I heard many time about it.

[2016-09-09 03:10] RandomlyKnighted commented on #36
Yeah so I don't know how it's done there but around here connections to enterprise grade equipment like Cisco switches and Cisco routes are generally done either via telnet or via a serial port connection. I managed to get a hold of a Cisco 1811 router to test with so I just hooked it up via serial port connection.

[2016-09-09 09:14] sunglim commented on #37
No worries. Beagleterm will not be a paid app. I still like McDonalds Big Mac and chips.

[2016-09-09 09:14] #37 closed

[2016-09-09 09:42] sunglim commented on #33
All right. Thanks @RandomlyKnighted !

[2016-09-09 09:42] #33 closed

[2016-09-09 09:49] sunglim opened #54 "Release new version to chrome app store"
We should release next version. 1.7 on 15 September.

- [x] Remove polymer - @RandomlyKnighted

- [x] Remove 'Beta' from version.

- [x] Repacking and test - @sunglim

- [x] Update project description on CWS - @sunglim

- [x] Add options for data bit, parity, stop bit, and flow control - @RandomlyKnighted

      we should show thanks list (+RandomlyKnighted)

[2016-09-09 09:49] sunglim commented on #54
@RandomlyKnighted, FYI.

[2016-09-09 12:06] RandomlyKnighted commented on #54
@sunglim One thing I just noticed is that you said the next version is 1.8. The current version is actually 1.6. I just went ahead in my PR and updated the numbers to 1.7 so save us a step later on.

[2016-09-09 18:49] RandomlyKnighted commented on #51
Odd merging my PR should have closed this issue.

[2016-09-09 18:50] RandomlyKnighted commented on #54
@sunglim so are we just going to release with an updated UI or do we want to try and get a new feature in before the release?

[2016-09-09 23:47] #51 closed

[2016-09-09 23:50] sunglim commented on #54
@RandomlyKnighted
No more new feature. I just have a thought to write script to pack easily on /tools/packing.py.

But feel free to send a PR! for example, setting parity bit. it is always welcome.

[2016-09-10 00:21] RandomlyKnighted commented on #54
That's what I meant. I didn't know if you wanted to try and get the parity issue stuff added before we release.

[2016-09-10 00:44] RandomlyKnighted opened #55 "What functionality are we getting from hterm?"
I see that we're using `hterm_all.js`; however, the only time we're referencing it is when we're [loading the window](https://github.com/beagleterm/beagle-term/blob/master/app/js/index.js#L75-L84). What functionality is this library giving us?

[2016-09-10 01:48] sunglim commented on #54
@RandomlyKnighted  feel free :)

[2016-09-10 01:58] sunglim opened #56 "Write test code"
For now we are not able to test without actual device.

We need to implement a kind of fake serial device js class.  and check.

[2016-09-10 23:09] RandomlyKnighted commented on #44
I've started working on this feature. I've got the UI done just gotta fix a couple things in the code.

[2016-09-11 09:00] sunglim commented on #44
Thanks in advance!

[2016-09-12 03:53] sunglim opened #59 "Make JSHint automatically via CI"
Since `Gruntfile.js` already checks `JSHint`. So runing grunt task via CI is enough.

[2016-09-12 03:56] RandomlyKnighted commented on #59
There's already a JSHint ready to use in the `Gruntfile.js`. Are you wanting it to run automatically via CI or do you mean something else with this issue?

[2016-09-12 04:00] sunglim commented on #59
via CI.

I'm going to create something like /tools/run-all-js-test.py  that runs jshint for all directories. and run it via CI.
Thank you for your comment. Feel free to share any idea.

[2016-09-12 05:00] RandomlyKnighted commented on #59
In some of the open source project's I've worked on in the past we've just made the CI run the grunt task. By doing it that way any jshint errors will show up as a failed check on the PR. The PR can't be merged until it passes the check. It's pretty much the same concept as your CLA bot.

You can also integrate jscsrc with jshint to enforce the Google Style Guide.

[2016-09-12 05:03] sunglim commented on #59
Thank for the info, It sounds like we can run grunt task on CI. I updated issue description.

[2016-09-12 05:47] sunglim commented on #55
Hi again

Thanks to @rginda, [hterm ](https://chromium.googlesource.com/apps/libapps/+/master/hterm) provides a terminal emulator.  it draws entire things except frame window.

Beagleterm is connected to hterm when loading the window(Your can see `Crosh` object is passed). After that, when we receive strings from chrome.serial API, Beagleterm just forward received string from chrome.serial api to

[2016-09-12 05:47] #55 closed

[2016-09-12 06:04] sunglim commented on #47
Sorry. it's impossible for now. there could be hacky way to do that [link](https://chromium.googlesource.com/apps/libapps/+/master/nassh/doc/FAQ.md#How-do-I-change-the-font-face). but now Beagleterm doesn't have option page. so officially Beagleterm doesn't support it.

[2016-09-12 06:11] sunglim commented on #34
let me know if you still meet this issue

[2016-09-12 06:11] #34 closed

[2016-09-12 07:40] sunglim commented on #50
Added file https://github.com/beagleterm/beagle-term/blob/master/LICENSE that say `BSD-3-Clause`

[2016-09-12 07:40] #50 closed

[2016-09-12 07:47] sunglim commented on #50
I mentioned my name on the top of https://github.com/beagleterm/beagle-term/blob/master/LICENSE.
But everyone who contributed this project has same authority as described.

[2016-09-12 15:15] sunglim opened #60 "Migrate to webapp"
http://blog.chromium.org/2016/08/from-chrome-apps-to-web.html

[2016-09-12 15:36] jumanjiman commented on #60
fwiw several people at `$dayjob` use beagleterm as chrome app on our chromebooks to connect to network devices. this makes the chromebook a nice alternative to a traditional crash cart.

[2016-09-12 18:01] RandomlyKnighted commented on #60
@sunglim what will it take for us to do this migration? I'm not near a computer atm (currently responding on my phone) so I can't view what APIs are missing.

[2016-09-13 02:20] #44 closed

[2016-09-13 05:45] sunglim opened #62 "Fix JSHint and JSCSRC error"
https://travis-ci.org/beagleterm/beagle-term/jobs/159502150

[2016-09-13 05:46] #59 closed

[2016-09-13 12:13] RandomlyKnighted commented on #62
I've already started working on this and I've fixed the JSHint errors on my computer. I'm still working on the JSCS errors.

[2016-09-14 00:25] #62 closed

[2016-09-14 04:53] sunglim opened #66 "extension validation fail when loading"
![image](https://cloud.githubusercontent.com/assets/756988/18500447/6fab9722-7a82-11e6-86a5-55210b08f806.png)

I don't understand why I didn't meet this until now.

TEST steps:
 1. git clone
 2. npm install
 3. load extension from chrome

[2016-09-14 12:05] RandomlyKnighted commented on #66
It didn't do that for me until I deleted my project directory and re-cloned the project. I cloned both your repo and my fork and it happens on both. This is weird, because I cloned my fork yesterday on another computer and I didn't run into this issue at all.

[2016-09-14 12:09] #66 closed

[2016-09-14 12:12] RandomlyKnighted commented on #17
I've never considered Putty to be a design goal. I was thinking something more like TeraTerm. I always thought it was simpler for newcomers than Putty.

[2016-09-15 12:15] RandomlyKnighted commented on #54
Are we still planning to release today?

[2016-09-15 12:29] sunglim commented on #54
Yes, I'm packing now

[2016-09-15 12:30] sunglim commented on #54
by the way, from next version, we might need to release 'unstable' version first. I'm a little not sure if everything is fine or not.

[2016-09-15 12:43] #54 closed

[2016-09-15 12:44] sunglim opened #68 "BeagleTerm 1.7 is released!"
Hi all,

I have released version 1.7.

You can download from below URL.
Please please let me know when you meet any issues.

https://chrome.google.com/webstore/detail/beagle-term/gkdofhllgfohlddimiiildbgoggdpoea?utm_source=chrome-ntp-icon

@jumanjiman, @RandomlyKnighted

[2016-09-15 12:50] RandomlyKnighted commented on #54
That's fine. Do we want to define how long a release will be deemed unstable before switching it to stable?

[2016-09-15 12:51] RandomlyKnighted commented on #68
I get an error 404 when I visit that link.

[2016-09-15 12:54] sunglim commented on #68
| I get an error 404 when I visit that link.

I believe it soon will be available in < 30min

[2016-09-15 13:19] RandomlyKnighted commented on #68
Ok, the Chrome store now says version 1.7.0. I'm just waiting for the app to update on my computer.

[2016-09-15 13:23] sunglim commented on #68
@RandomlyKnighted , I really appreciate your effort!! You made BeagleTerm breathes again.

[2016-09-15 13:40] RandomlyKnighted commented on #68
Got the update, looks good!

No problem, happy to help.

[2016-09-15 20:56] RandomlyKnighted opened #70 "Support for telnet and SSH connections"
It would be nice if we could support non serial-port connections. For example, Putty and Tera Term both have support for telnet and SSH connections. Having support for one if not both of these would make Beagle Term more competitive against other free products out there. I know it's possible to create a telnet connection via a Google App, but I don't know if SSH is possible.

@sunglim what do you

[2016-09-16 14:08] RandomlyKnighted opened #71 "Unable to talk to a device on Chrome OS"
At my work, we're currently demoing am Asus C100P Chromebook. I tried connecting to 2 different switches, first a Brocade 6450 24-port switch and second an Enterasys C5 48-port switch. During boot up of the switches, I kept getting a bunch of question marks on the screen in random places. When each device finished booted I tried hitting the enter key so it would take me to the login prompt, howeve

[2016-09-17 00:52] sunglim commented on #71
Well. It seems like the driver is not supported in Chrome side.

Simillar issue https://bugs.chromium.org/p/chromium/issues/detail?id=446902&q=chrome.serial&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified

[2016-09-17 01:12] RandomlyKnighted commented on #71
I commented on the issue and included the model of my Chromebook.

I did notice that the port dropdown lists my adapter as USB0. Because it recognizes it that way wouldn't it mean that the driver is there?

[2016-09-17 15:08] sunglim commented on #71
Well. AFAIK, normally in windows,  Without installing proper driver, we can see the port.  I'm not sure though.

[2016-09-17 15:21] RandomlyKnighted commented on #71
You can see Port 1, because that's the Communication Port it's built into Windows itself. When I plug in my adapter, it sees a new port (i.e. PORT4). Though I'm not sure if Chrome OS works the same way or not.

[2016-09-19 00:52] #68 closed

[2016-09-19 12:22] sunglim commented on #70
Sorry to be late.

SSH is already possible via [SecureShell](https://chrome.google.com/webstore/detail/secure-shell/pnhechapfaindjhompbnflcldabbghjo?hl=en).
Telnet might be possible by [Crosh](https://chrome.google.com/webstore/detail/crosh-window/nhbmpbdladcchdhkemlojfjdknjadhmh?hl=en).

Yeah. Supporting for telnet and ssh connection is great. But the problem is how to implement.
The idea coming

[2016-09-19 13:00] RandomlyKnighted commented on #70
There's a telnet app in the [GoogleChrome/chrome-app-samples](https://github.com/GoogleChrome/chrome-app-samples) repo that might could use as a reference for the telnet part. It looks like it uses the [chrome.socket API](https://developer.chrome.com/apps/socket).

I haven't looked into the SSH part yet. I'll let you know if I come across any examples for it.

[2016-09-19 13:28] sunglim commented on #70
Thank you for sharing info!

2016년 9월 19일 월요일, Tyler Hughes<notifications@github.com>님이 작성한 메시지:

[2016-09-19 18:24] sunglim commented on #60
In my personal view, There's no future for Chrome app.

Since 2013 I 've been contributing to Chromium especially extensions and apps. (Internally chrome app and extension they both share same code)
From 2015, some of Chrome extension team guys (more than half) Google. and there's no new feature they implement.
**I think** after [Chrome Dev Editor](https://www.youtube.com/watch?v=NNLnTz6yIc4), the

[2016-09-19 18:32] RandomlyKnighted commented on #60
So what would converting this project mean for the project? I know it means continued support by Chrome, but how would this affect using the app within Chrome? Right now I can go to `chrome://apps/` and launch Beagle Term from there. Would this change? Are web apps launched differently? Would our users have to re-learn how to use Beagle Term?

[2016-09-19 18:48] sunglim commented on #60
No. We should provide same UI. there're already many chrome app that just has link to webapp. for example [Google docs](https://chrome.google.com/webstore/detail/google-docs/aohghmighlieiainnegkcijnfilokake?utm_source=chrome-ntp-icon)

I think using serial API from webapp is impossible now, I will take a look at Chromium side. I think some new proposal something like [webUSB ](https://wicg.github.

[2016-09-19 18:59] jumanjiman commented on #60
understood.

[This post from Google](http://blog.chromium.org/2016/08/from-chrome-apps-to-web.html) seems to imply that apps are still needed on chrome os, but it does not describe the extent to which web apps can work offline or connect to hardware **today**.

Do you think it will be possible to migrate to web app and continue to work completely offline?

[2016-09-19 21:50] RandomlyKnighted commented on #60
I think migrating and being able to work offline might be possible, IF we can get them to add support for the serial API (and possibly the socket API if we implement #70). @jumanjiman In the link to the blog post you provided, Google mentions that we can request prioritizing specific APIs so that our apps will continue to work. [Here is the page](https://docs.google.com/forms/d/e/1FAIpQLSenHdpA8_e

[2016-09-19 22:36] jumanjiman commented on #60
@RandomlyKnighted Thanks for the link!

I have submitted a request at https://docs.google.com/forms/d/e/1FAIpQLSenHdpA8_eqKiVOrWDjWe_KTfJmoSBEqFIh6SMwQ-NRDJnx1Q/viewform?c=0&w=1 to add support for the serial API.

[2016-09-20 13:14] RandomlyKnighted commented on #60
I asked the Chrome Developers Twitter account if either of these API's were going to be added. In their reply they included the names of the 2 people who decide what API's to support in the new web app. They also asked for a use case so they know why these API's are needed. I provided the use case they wanted. I'll continue talking to them and see if what I can do to get the support added that we

[2016-09-21 01:07] sunglim commented on #60
I'm asking to Chromium guys directly.

Sungguk Lim <limasdf@gmail.com>
Sep 20 (1 day ago)

to rockot
Hi Ken!

This is Sungguk. I hope you remember.

Can I ask a question? Recently I saw an article, http://blog.chromium.org/2016/08/from-chrome-apps-to-web.html

So I'm going to migrate my chrome app. but my app uses Chrome.serial api.

Is it possible to use serial in webapp? do we need to write new

[2016-09-21 02:33] RandomlyKnighted commented on #60
@sunglim Thanks for sharing. So what about devices other non microcontroller applications like interacting with a router or switch? How would you know if the devices supports adding additional endpoints?

[2016-09-21 03:31] mdv55 commented on #60
Mike here from V&V Systems. We help schools with equipment for their Knowledge Bowl competition. We and the coaches use Beagleterm for communicating with the  Knowledge Bowl timer (which  uses the FTDI FT230X USB UART) for control and display during their practice and competition. Chromebooks are rapidly displacing PCs and Macs in schools here in Washington and surrounding states and Beagleterm is

[2016-09-21 04:01] sunglim commented on #60
@RandomlyKnighted
Ultimately BeagleTerm should support every RS232 devices(not only devices that support additional endpoint).
IMO, using WebUSB is not the solution. I asked Ken how to start writing new proposal. It must be hard and could be impossible.  let's just see. Who knows? We could be author of newly released proposal such as WebSerial.

[2016-09-21 04:04] sunglim commented on #60
@mdv55  Thanks to many contributors(@RandomlyKnighted @jumanjiman and other guys), BeagleTerm can move forward.

[2016-09-23 16:34] RandomlyKnighted commented on #71
@sunglim Is there any way we can get your contact on the Chromium team to look into the issue you linked to above? I'd love to be able to test this release on a Chromebook.

[2016-09-26 04:49] sunglim commented on #71
Sorry for being late.

@RandomlyKnighted Sadly I can't. Since their priority is depends on Google's policy.
I think the best way is that to implement by ourselves.

[2016-09-26 12:11] RandomlyKnighted commented on #71
I'm not sure I follow. You want to create your own driver for Chromebooks or just install it yourself like you would on a Windows PC?

[2016-09-29 15:50] theotang opened #72 "New version (maybe) hangs on connect"
I am not sure if it is because of the new version of Beagle Term or if it is because of ChromeOS updates, but now when I press connect, my Chromebook hangs.  The only way to free it, is to unplug the USB-serial adapter.

How do I troubleshoot what is wrong here?  This used to work in the previous version.

I've tried 3 different USB-serial adapters that had previously worked, same results.  I've t

[2016-09-29 16:02] RandomlyKnighted commented on #72
Have you verified that the settings you used for data bit, flow control, and stop bit match your switches recommended settings? For most routers the data bit is set to 8 bit, flow control is none, and stop bit is set to 1 bit.

[2016-09-29 23:03] theotang commented on #72
I tested again with my CR-48 and it worked.  Guess I might have to power wash my Acer.

[2016-09-30 12:23] sunglim commented on #72
closing by above comment.

[2016-09-30 12:23] #72 closed

[2016-09-30 12:28] sunglim commented on #72
The only change from old version is UI.
(We all knows that re-connection USB-serial adapter will make it work.)

[2016-09-30 20:34] theotang commented on #72
FYI, I was in developer mode on my Acer experiencing the hang problem.  I exited developer mode and it still had the same problem.  I finally did a power wash and it now works.  Must have been a messed up driver in the OS for my USB-serial adapter.

[2016-09-30 21:01] RandomlyKnighted commented on #71
@sunglim I noticed this afternoon that the Chromebook I've been demoing had a couple of Chrome OS updates. I've went ahead and installed the updates but I didn't think to bring my adapter with me to work today. Is there a way to check if the driver has been installed? For example on Windows, drivers are stored in `C:\Windows\system32`

[2016-10-05 18:29] RandomlyKnighted commented on #71
So maybe I'm missing something but here's what I see when I use the Asus C100P Chromebook.  As you can see in the image below when I open Beagle Term (**without** my adapter connected) I don't get anything listed in the port dropdown.

![beagle-term_no_device](https://cloud.githubusercontent.com/assets/2483249/19126186/90540a94-8aff-11e6-83a0-71a31aef51f3.png)

When I close BeagleTerm and reopen i

[2016-10-06 05:31] sunglim commented on #71
Are you sure about this? I'm not sure as well. But as I experienced with graphic card on PC, if the driver is outdated, we can stil see the screen but it is broken,

and. Could you please share a debugging information?
From https://github.com/beagleterm/beagle-term/blob/3af95870b76f3447c7489b3de3d9f59d31a99032/app/js/index.js#L218
You can just add `console.log(info.data)`.  let's see it.

@reillye

[2016-10-06 12:06] RandomlyKnighted commented on #71
Well the day I got my adapter, before I ever plugged it into my PC I open BeagleTerm and the only adapter that showed up was the default COM1 Communications port. So I closed BeagleTerm, plugged in my adapter, and reopened BeagleTerm. At that point I now had COM1 and COM3. I did some testing and found out that COM3 was the adapter. I've also seen this happen when programming via serial port in C#.

[2016-10-07 01:38] sunglim commented on #71
You can build your own package. and load it from `chrome://extensions`.

Chromebook and linux share same driver. If you can use Windows laptop or Macbook. we can make sure the problem exist in Linux(including ChromeOS).

[2016-10-07 01:41] sunglim commented on #71
Hm.. I don't know now. but I'll take a look

On Thu, Oct 6, 2016 at 9:06 PM, Tyler Hughes <notifications@github.com>
wrote:

[2016-10-07 02:12] RandomlyKnighted commented on #71
I know it works on a Windows 10 desktop. I tested it on two of them before we released the update. I haven't tested on a MacBook though.

You have to zip the files up and load that, correct?

[2016-10-07 05:05] sunglim commented on #71
@RandomlyKnighted
Which `USB to serial adapter` do you use?  We might need to find out the chip name on your `usb to serial adaptor`  If your `USB to serial adapter` uses `cp210x` chip. then it must be driver issue.

I think this also means the culprit is driver.

[2016-10-07 07:42] sunglim commented on #71
Here's a code[1] for chromeos 4.4.  As you can see a lot of driver is `not set`. Let's find out which chip your `USB to serial adapter` use. and let's modify the chromeos kernel code by ourselves.

[1] enabled driver list for chrome os 4.4. https://chromium.googlesource.com/chromiumos/third_party/kernel/+/release-R54-8743.B-chromeos-4.4/chromeos/config/base.config#2451

[2016-10-07 07:50] sunglim commented on #71
Adding `Blocked` label since this issue should be fixed in Chromium side.
But we still try to fix chrome code by ourselves.

[2016-10-07 12:52] RandomlyKnighted commented on #71
@sunglim This is the [adapter I've been using](https://www.amazon.com/gp/product/B001J226JQ/ref=oh_aui_detailpage_o03_s00?ie=UTF8&psc=1).

[2016-10-08 04:54] sunglim commented on #71
@RandomlyKnighted thanks. hm but it's not easy to find the chip name. I'll try to find the chip name again.

[2016-10-09 10:48] sunglim commented on #71
Your adapter's chip name is CP341 and it is enabled on ChromeOS 4.4.
Which version is your chromeos?

You can build your own package on your PC and send it to email. download it from your chrome book. unzip and open in chrome://extensions.

[2016-10-09 14:18] RandomlyKnighted commented on #71
I don't know the version. I work in a school system and we're out on Fall break until Wed. I'll check it out then.

By the way, how did you find the adapter''s chip name?

[2016-10-10 16:44] toddpratt opened #73 "Local Echo"
I would like to see local echo as an option.

[2016-10-11 02:15] sunglim commented on #73
Can you elaborate on what specifically you want and why?

[2016-10-11 05:36] sunglim commented on #60
news from google
--

Dear Developer,

We’re reaching out to you because you’re registered as a Chrome App developer in the Chrome Web Store. As you might have seen recently, we announced that we will be increasing our focus on the Web and open standards by removing support for Chrome packaged apps and hosted apps on Windows, Mac, and Linux over the next two years. Chrome apps will remain supported

[2016-10-11 09:14] sunglim commented on #71
I can catch that the driver is either CH340 or CH341 by the review of Amazon.
and I can realize that CH341 has a power to run both CH341 and CH340 by http://forum.odroid.com/viewtopic.php?f=111&t=9972

[2016-10-12 15:20] RandomlyKnighted commented on #71
I'm about to make the logging change and test that out.

I wanted to mention that I also have [this adapter](https://www.amazon.com/gp/product/B01B4ZSMQI/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1) on hand. When I plug it in and open BeagleTerm it doesn't show the adapter listed at all. It looks like either the driver either isn't install it or it's not enabled by default.

I'll comment back here

[2016-10-12 16:02] RandomlyKnighted commented on #71
Alright I was able to install it by making the change, zipping the file, sent it to myself, unzipped it and loaded it via Developer Mode. I opened BeagleTerm and saw the normal connection created message so I tried to open the developer console to see the info. Unfortunately, I wasn't able to get it to open. When I try and right click in the window, nothing happens. Is hterm doing something to pre

[2016-10-13 12:18] sunglim commented on #71
@RandomlyKnighted  Thanks for your effort.

To see the developer console for chrome app, you can open it from `chrome://extension` menu.

i.e.
1. Run BeagleTerm
2. Open `chrome://extension` on your chrome
3. Click `index.html`.  it will open developer console.

![image](https://cloud.githubusercontent.com/assets/756988/19348786/940b25f0-918a-11e6-9559-b56136d1c127.png)

Hope it works.

PS. could y

[2016-10-13 12:55] RandomlyKnighted commented on #71
On the Asus C100P Chromebook here's my version number:

[code]

[2016-10-13 13:16] RandomlyKnighted commented on #71
I opened the Dev Console before attempting to connect to the device. When I hit connect no messages show up in the console. So what I did next was I rebooted the device and as soon as I did it started logging a whole bunch of stuff. Looking the logs over it looks like hterm is giving the same 3 warnings over and over again:
[code]

The console.log line I added also popped up a bunch of times. They

[2016-10-25 10:11] eeyrw opened #74 "Higher baudrate support"
Recent usb-ttl dongle and embedded device can support baudrate up to 460800. It could be useful if support extend baudrate option in app:

Thanks.

[2016-10-25 10:13] sunglim commented on #74
Thank you for the reporting.

We can implement it by adding more options at below
https://github.com/beagleterm/beagle-term/blob/master/app/index.html#L44

PR is always welcome.

[2016-10-25 12:44] RandomlyKnighted commented on #71
@sunglim do you have any advice based on the output I posted above?

[2016-10-27 02:42] sunglim commented on #71
It seems that chromos on your chromebook already includes correct driver(CH341).
https://chromium.googlesource.com/chromiumos/third_party/kernel/+/stabilize-8530.93.B-chromeos-4.4/chromeos/config/base.config#2444

About `ArrayBuffer {}`.
As you might know Chrome sends byte data as `ArrayBuffer`. But it is empty.

Weird.  If you use another USB to serial adapter(which doesn't use CH341) ,  you migh

[2016-10-27 05:31] RandomlyKnighted commented on #71
Do you know of another adapter that I can buy that should work? I'm happy to give it a try.

[2016-10-27 05:37] sunglim commented on #71
@jumanjiman, @ShannonVanWagner, @mdv55
Hey folks, could you kindly share which USB to serial adapter you're using?

[2016-10-27 12:38] jumanjiman commented on #71
sorry, i've moved to a different place and don't have an adapter at the moment.

[2016-10-28 02:48] ShannonVanWagner commented on #71
Keyspan usa-19hs by tripp lite is the one I've tested.

On Oct 27, 2016 1:37 AM, "Sungguk Lim" <notifications@github.com> wrote:

[2016-10-28 12:14] RandomlyKnighted commented on #71
Thanks @ShannonVanWagner. I just ordered it on Amazon. Have you tested with that adapter on Chrome OS since our last release?

[2016-10-31 03:14] #74 closed

[2016-10-31 03:26] sunglim commented on #73
@toddpratt  kindly ping?

[2016-10-31 04:44] sunglim opened #76 "v1.8.0 beta release"
You can get v1.8.0 beta from https://chrome.google.com/webstore/detail/beagle-term-beta/bgoacdphmdhhogadlgbhkpopljionhie?utm_source=chrome-ntp-icon

Feature added.
- https://github.com/beagleterm/beagle-term/issues/74: Higher baudrate support

@eeyrw If you can find time, feel free to run it and let us know if there's any issue. Thank you for your contribution again!

[2016-10-31 11:41] toddpratt commented on #73
I've switched to another terminal app on my chromebook, but here's the what and why:

http://www.computerhope.com/jargon/l/locaecho.htm

You can close this issue if either there is such an option and I missed it or if you don't think it'd be generally useful.

[2016-10-31 12:18] sunglim commented on #73
Thank you for the clarification. We will mark it as 'enhancement'.

[2016-10-31 12:19] sunglim commented on #73
Local info in putty : http://www.chiark.greenend.org.uk/~sgtatham/putty/faq.html#faq-localecho

[2016-11-01 04:36] eeyrw commented on #76
![image](https://cloud.githubusercontent.com/assets/2088817/19879616/853e106a-a02f-11e6-9403-05b0f0593d52.png)
It works under baud rate of 460800. Other baud rates are not tested, but it should be fine.

[2016-11-01 04:46] sunglim commented on #76
@eeyrw Thank you! I'll release official version then.

[2016-11-01 04:46] #76 closed

[2016-11-03 15:15] baileyds opened #77 "locks up when attempting to connect 9600"
Beagleterm locks up Chromebook when attempting to connect via usb adapter, 9600 bitrate.

Pulling the USB to serial adapter restores the Chromebook back to functionality, but Beagleterm (of course) does not connect.

Further info:
Dell Chromebook 13 model 7310
USB to serial adapter - sadly unsure of model. Silver cable, used 2, also same ones I had used before the recent Beagleterm update.
Switch

[2016-11-03 15:32] sunglim commented on #77
ChromeOS Beta channel is very unstable. I recommend to use ChromeOS stable channel.

[2016-11-03 15:34] baileyds commented on #77
Thanks sir - I was noticing that as I submitted the bug report.  Will do and will report back.

[2016-11-03 15:42] baileyds commented on #77
That appeared to be the issue - used a c720 on stable OS channel, works great.  Thanks.

[2016-11-03 15:42] #77 closed

[2016-11-03 18:06] RandomlyKnighted opened #78 "Locks up when opening a connection"
I'm experiencing the same issue mentioned in #77; however, the Chromebook I'm using is already on the stable channel. Here's the info on the Chromebook:

[code]

Any suggestions on what I should do?

**Note:** I am using the latest version of Beagle Term.

[2016-11-04 01:16] sunglim commented on #78
ChromeOS is locked up? or only BeagleTerm is locked up?

[2016-11-04 01:27] RandomlyKnighted commented on #78
ChromeOS locks up when I hit the Connect button.

[2016-11-04 04:20] sunglim commented on #78
interesting. i'll take a look if there's any change on chrome side.

[2016-11-04 18:54] baileyds commented on #78
I'd like to chime back in on this - same issue here now back on a CB on stable channel.

Dell Chromebook 13 model 7310; note this does not seem to happen using an Acer C720, same usb to serial converter cable, also via BeagleTerm.

Version 54.0.2840.79 (64-bit)
Platform 8743.76.0 (Official Build) stable-channel lulu
Firmware Google_Lulu.6301.136.57

Let me know if I can help / get more info.  I ca

[2016-11-04 19:28] RandomlyKnighted commented on #78
I tested earlier to see if it only affects the 9600 bitrate and it does not. I had the same results no matter what bitrate I chose.

[2016-11-05 08:44] gyldenro commented on #78
I can confirm having same issue on Toshiba CB30 (first generation)

Version 54.0.2840.79 (64-bit)
Platform 8743.76.0 (Official Build) stable-channel leon
Firmware Google_Leon.4389.61.46

[2016-11-08 05:21] RandomlyKnighted commented on #78
@sunglim any news? I'm starting a new job on Monday and won't have access to a Chromebook after Thursday.

[2016-11-08 12:44] ram1977 commented on #78
Same problem on a Acer CB3-531

Versie 54.0.2840.79 (64-bit)
Platform 8743.76.0 (Official Build) stable-channel banjo
Firmware Google_Banjo.5216.334.4

Also on the Beta channel it wont work.
I think it's Chrome related because al extentions that make a serial connection are freezing.

[2016-11-08 12:59] sunglim commented on #78
sorry for being late. I asked to some googlers and waiting for response.

On Tue, Nov 8, 2016 at 9:44 PM, ram1977 <notifications@github.com> wrote:

[2016-11-08 13:22] baileyds commented on #78
No problem, your responsiveness is fantastic.

If I can help please let me know.

Damian Bailey, MCP
Coordinator of Technology Services
LCPS Technology

Sent by MailWise<http://www.mail-wise.com/installation/2> – See your emails as clean, short chats.

-------- Original Message --------
From: Sungguk Lim <notifications@github.com>
Sent: Tuesday, November 8, 2016 07:59 AM
To: beagleterm/beagle-term

[2016-11-08 16:49] omegaseiko commented on #78
I am having the same issue.  Clicking on connect freezes Chromebook - Dell Chromebook 11 on stable, developer mode.  Chromebook recovers as soon as I pull out Keyspan.

[2016-11-08 17:43] sunglim commented on #78
there're 4 patches between previous version and current version on chromium side.
I'm bisecting now..
But sadly if I found the culprits and submit a patch. it takes more than 1month to next ChromeOS release :(

[2016-11-08 18:37] RandomlyKnighted commented on #78
Is the ["Estimated* Stable Dates"](https://www.chromium.org/developers/calendar) the same patches you were talking about or did you find this somewhere else?

[2016-11-09 02:56] sunglim commented on #78
Who will win the president election? what do you say?

[2016-11-09 02:58] RandomlyKnighted commented on #78
haha it's going to be close but I think it will be Trump

[2016-11-09 03:33] RandomlyKnighted opened #79 "Communication outside of GitHub"
I think it would be great if we had a Slack team or Gitter chat room so we can talk about the project outside of GitHub.

[2016-11-09 03:40] RandomlyKnighted commented on #79
My vote is for Slack because then you can multiple channels for things like dev talk, off topic, etc.

[2016-11-09 07:31] sunglim commented on #79
SGTM.

On Wed, Nov 9, 2016 at 12:40 PM, Tyler Hughes <notifications@github.com>
wrote:

[2016-11-09 07:56] sunglim commented on #78
Yes. serial code lives under [device/serial](https://cs.chromium.org/chromium/src/device/serial/). and found the diff between two git tags.

[2016-11-09 14:05] #79 closed

[2016-11-10 06:12] sunglim commented on #78
I can reproduce this issue. Obviously my chromebook locked when `chrome.serial.connect` is called

[2016-11-11 02:52] sunglim commented on #78
Fixed in chromium side.

[2016-11-11 08:39] ram1977 commented on #78
Thanks for the great support. How often they release a Chrome update?

[2016-11-11 08:45] sunglim commented on #78
By https://www.chromium.org/developers/calendar , it term is approximately 6 weeks.
If you can't wait, You can switch to beta channel. chrome released daily on beta channel. for details see https://support.google.com/chromebook/answer/1086915?hl=en

[2016-11-12 04:01] sunglim opened #81 "Remove bower dependency."
We're using bowser to install bootstrap. but we can use npm instead.

Details : http://getbootstrap.com/getting-started/#download-composer

[2016-11-12 05:52] RandomlyKnighted commented on #81
You mentioned installing via npm but linked to the composer instructions. I think you meant to link to the NPM instructions here: http://getbootstrap.com/getting-started/#download-npm

[2016-11-12 06:06] sunglim commented on #81
@RandomlyKnighted  Oops. you're right. thanks for correct link.

[2016-11-12 06:16] RandomlyKnighted commented on #56
@sunglim are there libraries out there that give us the ability to fake a serial device?

[2016-11-12 06:21] sunglim commented on #56
AFAIK, There's no such thing even in chromium side.

[2016-11-14 16:14] ram1977 commented on #78
still no solution in Beta channel and development :(

[2016-11-14 19:07] afra-git commented on #78
It worked a couple of weeks ago.  There must have been an update. Now it doesn't. My device may have been in developer's mode.

[2016-11-15 01:10] sunglim commented on #78
No worries. This issue has fixed by one Googler. now the only thing we can
do is just waiting.
it soon will be working in either beta or canary channel.

On Tue, Nov 15, 2016 at 4:07 AM, afra-git <notifications@github.com> wrote:

[2016-11-15 04:43] kristianpaul commented on #78
Same issue on Hisense :(

Version 54.0.2840.93
Platform 8743.83.0 (Official Build) stable-channel veyron_jerry
Firmware Google_Veyron_Jerry.6588.197.0

[2016-11-15 10:40] sunglim commented on #78
@kristianpaul  Thank you for the reporting. as mentioned above, fix is sumitted but it be shipped to next update :(

[2016-11-22 19:29] AADIP commented on #78
This is fixed for me on the R11 with an update from today.

Version 54.0.2840.101 (64-bit)
Platform 8743.85.0 (Official Build) stable-channel cyan
ARC Version 3487238
Firmware Google_Cyan.7287.57.82

[2016-11-23 01:22] sunglim commented on #78
@AADIP  thank you for sharing updated info! closing then.

[2016-11-23 01:22] #78 closed

[2016-11-23 02:04] RandomlyKnighted commented on #71
I'm going to try and get myself a Chromebook during the holiday sales. Once I get one I'll test this out and will report back. In the mean time I'll go ahead and close this issue. If I find that it doesn't work I'll reopen it.

[2016-11-23 02:04] #71 closed

[2016-11-23 02:37] sunglim commented on #71
👍

[2016-11-24 15:19] codewithtyler opened #84 "Improve comments to use JSDoc"
Currently we have a few single line comments before our functions. It would be nice if we could update these to follow the JSDoc spec. Doing this will give us the ability to create a useful web based documentation in the future which in turn would help anyone who is interested in contributing to Beagle Term.

[2016-11-26 05:00] mdv55 opened #85 "Feature Request - Send a file to the serial port."
Feature Request:
Add a function to send a file to the serial port. The source of the content could be

1. a file on the local disk
2. a file retrieved from a network URL.

There is no protocol or handshake (except optionally honoring xon-xoff) on the serial interface.

This is equivalent to TeraTerm's File->Send or to minicom Ctrl-A -> S(send) -> ASCII.

A use case for this feature is to send an I

[2016-11-27 09:26] sunglim commented on #84
SGTM.

[2016-12-30 19:20] mdhayter opened #86 "Line break causes terminal to suspend silently"
Just got a HiFive1 board (https://www.crowdsupply.com/sifive/hifive1) which generates a line break whenever the reset button is pushed (power supply is cycled so the input to the FTDI serial-USB is low for a while). In other terminal programs like screen or minicom in Linux the line break is ignored. But in beagle term there is no further communication after the line break. The documentation sugge

[2016-12-30 20:48] codewithtyler commented on #86
Have you tried intercepting the input? You would need an if statement to check for a line break.  You would then only continue if the if statement fails then that should fix your issue because you'd be ignoring the line break.

[2017-04-15 13:08] RadianM opened #87 "Multiple serial port behaviour"
If I open two terminal windows using two different COM ports, both windows show the same serial data. To make this clearer, if COM3 is receiving a stream constantly sending "Hello COM3" and another window is opened on COM4 receiving a different stream sending "Hello COM4" **both** windows show...

I would expect each COM port to be displayed in its own separate window. Having said that, for some a

[2017-04-15 14:48] sunglim commented on #87
Hi @RadianM

Thanks for the report. it should be fixed.

from chrome.serial.onReceive.addListener(function(info) {, we need to check `info.connectionId`.
https://github.com/beagleterm/beagle-term/blob/e4e4745ec527808b162fad5a17f529c6be6c3c43/app/js/draw_ui.js#L83

When I fixed this issue, @RadianM  Could you help me to test?
I don't have two devices :(

[2017-04-15 14:53] RadianM commented on #87
Sure. Just let me know when to try it again.

[2017-05-09 17:14] sunglim commented on #87
Hi @RadianM
Sorry for being late.
I have updated `beagle term beta 1.8.5` to fix this issue.
https://chrome.google.com/webstore/detail/bgoacdphmdhhogadlgbhkpopljionhie

Could you please check?

[2017-09-19 09:03] holelattanuttin opened #88 "Support for copy and paste?"
The one thing that is keeping me from using my Chromebook for everything is the lack of copy and paste to and from the session.  This app is versatile, flexible and eliminates the need to install buggy drivers, so it is awesome.  It also gets up and running very, very quickly.  The lack of copy and paste makes me carry a separate laptop (Windows, eek).

Thank you.

[2017-09-19 13:57] Habbie commented on #88
ctrl-shift-c and ctrl-shift-v work fine on my Chromebook, did you try those combinations?

[2017-09-19 17:31] holelattanuttin commented on #88
Thank you!  Why was I only trying cntrl-c and ctrl-v????

[2017-09-19 18:19] codewithtyler commented on #88
Glad to hear this resolved your issue. I'm going to go ahead and close this issue.

[2017-09-19 18:19] #88 closed, assigned to nobody

[2018-09-29 06:30] diegosueiro commented on #87
I'm having the same problem with 1.8.2 version (mirrored text) on Chrome OS 70.0.3538.34 (Official Build) beta (64-bit).
I updated to 1.8.5 and when I open the app no pop-up appears to select the Port configuration.

[2019-03-11 01:49] bzboi commented on #4
Hi, how do I configure Beagle Term for LF instead of CR+LF? I'm still seeing this issue with 1.8.2. Is this related to issue #19 ? Thanks.

[2019-03-11 18:42] bzboi opened #89 "Line Feed instead of Carriage Return+Line Feed"
Hi, how do I configure Beagle Term for LF instead of CR+LF? Issue #4 seemed to solve this with a ChromeOS specific build, but #19 seemed to eliminate that branch. How can we use the User Agent in ChromeOS to overcome this? Thanks.

[2019-04-16 19:03] coverclock opened #90 "Weird Display of Unicode Degree Symbol"
I'm using Beagle-Term to display the output of my GPS software, which uses ANSI escape sequences and the degree sign Unicode character. I've used terminal emulators like screen (on Linux and MacOS) and PuTTY (Windows) without issues.  On my Acer ChromeBook, Beagle-Term consistently precedes the Unicode degree sign (U+00B0) with with a Latin uppercase-A with a circumflex (U+00C2). You can see this

[2019-09-01 19:48] mbennett68 opened #91 "How to you set the backspace to ctrl-h?"
How do you set the backspace to ctrl-h?

[2019-11-05 02:37] bryeung commented on #47
Here are more precise directions for changing the font (size) from ChromeOS:

Open Beagle Term
Open Chrome > Settings > Extensions
Go to the Beagle Term App settings, and click "Details"
Click on "index.html" from the "Inspect Views" section

In the Javascript console that pops up, you can enter settings by running Javascript like this:
hterm.defaultStorage.setItem("/hterm/profiles/opt_profileName

[2020-03-08 17:18] ric96 commented on #86
same with poplar dev board. Power cycling causes terminal to suspend. soft reboots are fine.